.bg {

background: url(images/bg.png);
background-repeat: no-repeat;
background-size: contain;
-o-background-size: cover;
background-position: center 0;

}

li{
    margin:15px;
    cursor: pointer;
    color: #303B19;
}

h2, h3{
    cursor: pointer;
    color: #303B19;
}

h1{
    width: 40px;
    font-size: 40px;
    font-family:"MingLiU";
    align-items: center;
    letter-spacing: 20px;
    color: #ffffffee;
}

p{
   padding:5px 10px;
   color: #303B19;
}
